#input-container {
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
}



#NewEntryForm{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#NewEntryForm button {
    background-color: lightgrey;
}