/* switch the default font for the body, and remove top/bottom/left/right margin */
body {
    font-family: 'Fresca', sans-serif;
    margin: 0;
}

#app-container {
    max-width: 100% !important;
}

